* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #297373;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #ff8552;
  background-color: #e6e6e6;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ff8552;
  border-radius: 1rem;
  color: #39393a;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ff8552;
  border-radius: 1rem;
  color: #39393a;
  margin-top: 3vmin;
}

#msg {
  color: #e6e6e6;
  font-size: 7vmin;
}

.msg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
